flows.json
[{"id":"23f9d7fb.766d28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5610471f.58a308","type":"ui_form","z":"23f9d7fb.766d28","name":"","label":"","group":"eabc3f16.4be06","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":110,"y":120,"wires":[["6b7b385a.91a948","7efd2947.23b0a8"]]},{"id":"6b7b385a.91a948","type":"debug","z":"23f9d7fb.766d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"7efd2947.23b0a8","type":"function","z":"23f9d7fb.766d28","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["11baf288.9a385d"]]},{"id":"11baf288.9a385d","type":"cloudant out","z":"23f9d7fb.766d28","name":"cloudant","cloudant":"","database":"sample","service":"node-red-knshw-2020--cloudant-1597424531907-10218","payonly":true,"operation":"insert","x":500,"y":180,"wires":[]},{"id":"7e71565a.8bb638","type":"ui_form","z":"23f9d7fb.766d28","name":"","label":"","group":"dd22842a.0912c8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":260,"wires":[["b31ce47.a31db18"]]},{"id":"b31ce47.a31db18","type":"function","z":"23f9d7fb.766d28","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["f8fced78.b94b1"]]},{"id":"f8fced78.b94b1","type":"function","z":"23f9d7fb.766d28","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[["a0c0b995.beddf8"]]},{"id":"a0c0b995.beddf8","type":"cloudant in","z":"23f9d7fb.766d28","name":"","cloudant":"","database":"sample","service":"node-red-knshw-2020--cloudant-1597424531907-10218","search":"_idx_","design":"user","index":"user","x":700,"y":260,"wires":[["2e37eb1d.6651e4"]]},{"id":"2e37eb1d.6651e4","type":"function","z":"23f9d7fb.766d28","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":260,"wires":[["bf84d49.b112b28","dd09cff6.871b6"]]},{"id":"bf84d49.b112b28","type":"debug","z":"23f9d7fb.766d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":300,"wires":[]},{"id":"dd09cff6.871b6","type":"ui_text","z":"23f9d7fb.766d28","group":"dd22842a.0912c8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":200,"wires":[]},{"id":"c72d6d99.fe65b","type":"ui_form","z":"23f9d7fb.766d28","name":"","label":"","group":"ed2e287a.51b0c8","order":1,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":420,"wires":[["6fe2cd5c.385d94"]]},{"id":"6fe2cd5c.385d94","type":"function","z":"23f9d7fb.766d28","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":420,"wires":[["d9bb655e.e91cc8"]]},{"id":"d9bb655e.e91cc8","type":"watson-conversation-v1","z":"23f9d7fb.766d28","name":"","workspaceid":"f688f23d-54a3-49d8-ae87-fc8a908cd1a3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7d103436-de9d-4eb4-b684-9cdbe9f4f91d","timeout":"","optout-learning":false,"x":500,"y":420,"wires":[["609da752.b44d58","aed14b8d.055638"]]},{"id":"77ae016c.cc3e","type":"ui_text","z":"23f9d7fb.766d28","group":"ed2e287a.51b0c8","order":2,"width":"6","height":"6","name":"","label":"Bot responce","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":480,"wires":[]},{"id":"609da752.b44d58","type":"debug","z":"23f9d7fb.766d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":360,"wires":[]},{"id":"aed14b8d.055638","type":"function","z":"23f9d7fb.766d28","name":"","func":"msg.payload = msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":480,"wires":[["77ae016c.cc3e","4554e38d.8068bc"]]},{"id":"4554e38d.8068bc","type":"ui_audio","z":"23f9d7fb.766d28","name":"","group":"ed2e287a.51b0c8","voice":"en-GB","always":"","x":910,"y":580,"wires":[]},{"id":"eabc3f16.4be06","type":"ui_group","z":"","name":"Reg form","tab":"15c86e2a.16b712","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd22842a.0912c8","type":"ui_group","z":"","name":"Login Form","tab":"47fcc283.a3f7cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed2e287a.51b0c8","type":"ui_group","z":"","name":"Bot","tab":"e3b45218.45119","order":1,"disp":true,"width":"6","collapse":false},{"id":"15c86e2a.16b712","type":"ui_tab","z":"","name":"Registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"47fcc283.a3f7cc","type":"ui_tab","z":"","name":"Login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"e3b45218.45119","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false}]